<a href="https://colab.research.google.com/github/Jayasreeyellapu/Khub_9_Jayasree/blob/main/KHUB_Day2_task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python for loop is used for iterating over a sequence

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

we can use BREAK statement using in loop .We can stop loop before it has lopped.

In [ ]:
fruits=["apple,","banana","cherry",]
for x in fruits:
  print(x)
  if x=="banana":
    break

apple,
banana

With continue statement we can stop iteration of the loop

In [ ]:
cars =["bugati","range rover","enova"]
for x in cars:
  if x =="range rover":
    continue
  print(x)

bugati
enova

to loop that the number of specified number of items we can use for the range function

In [ ]:
for x in range(7):
  print(x)

0
1
2
3
4
5
6

 else keyword in a for loop it mentions a block of code to be executed when the loop is finished

In [ ]:
for x in range(10):
  print(x)
else:
  print ("finally finished!")

0
1
2
3
4
5
6
7
8
9
finally finished!

In else now iam using break statementfor break the loop

In [ ]:
for x in range(6):
  if x==3:
    break
  print(x)
else:
  print("finally finished!")

0
1
2

iam using string in for loop to count the vowels in the given text

In [ ]:
text="aeroplane"
vowels="aeiouAEIOU"
count=0
for char in text:
  if char in vowels:
    count += 1
    print("vowel count:",count)

vowel count: 1
vowel count: 2
vowel count: 3
vowel count: 4
vowel count: 5

now,i am using tuple for loop to store the item

In [ ]:
t = (10, 20, 30, 40)
for item in t:
    print(item)

10
20
30
40

now iam using list in loop to store  the multiple item in one variable

In [ ]:
numbers = [5, 11, 15]
total = 0
for num in numbers:
    total += num
print("Sum:", total)

Sum: 31

with the while loop we can execute set of statements in long conditions

In [ ]:
i=2
while i<6:
  print (i)
  i +=1

2
3
4
5

Now i am printing the factorial in a while loop

In [ ]:
num = 10
result = 1
while num > 0:
    result *= num
    num -= 1
print("Factorial:", result)

Factorial: 3628800

now iam printing the starcode by using the while loop

In [ ]:
i = 1
while i <= 5:
    print("*" * i)
    i += 1

*
**
***
****
*****

Printing digits of a number

In [ ]:
num = 543
while num > 0:
    digit = num % 10
    print(digit)
    num //= 10

3
4
5

So now iam using the else statement the condition will no longer true

In [14]:
i=1
while i<6:
  i =+1
  print()

loop control statements
break statement it exists current loop even if condition is true

In [15]:
i = 1
while i <= 10:
    if i == 5:
        break
    print(i)
    i += 1

1
2
3
4

continue statement stops current iteration and continues next statement

In [16]:
i = 0
while i < 10:
    i += 1
    if i == 7:
        continue
    print(i)

1
2
3
4
5
6
8
9
10

now iam skipping the vowls in a string by using the continue statement

In [17]:
s = "hello WORD"
for char in s:
    if char in "aeiouAEIOU":
        continue
    print(char, end="")

hll WRD

loop with else in python in this we can use for,while

In [18]:
for i in range(5):
    print(i)
else:
    print("Loop finished successfully!")

0
1
2
3
4
Loop finished successfully!

nested loops we are going to print the star code by using for

In [19]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

now iam printing the inverted triangle by using the negative value then only it gives the reverse order

In [20]:
for i in range(10, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

**********
*********
********
*******
******
*****
****
***
**
*

now iam printing the multiplication table

In [21]:
for i in range(1, 3):
    print(f"{i}")
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")

1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

**FUNCTIONS**

Creating a function using def

In [22]:
def my_function():
  print("Hi how are you")

my_function()

Hi how are you

now iam writing retur value in function by using return

now iam writing retur value in function by using return

In [23]:
def add(a, b):
    return a + b
result = add("bike","car")
print(result)

bikecar

POSITIONAL ARGUMENTS

In [25]:
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")

greet("Jayasree", 20)

Hello Jayasree, you are 20 years old.

if we  give default values that are used if no argument is passed

In [26]:
def greet(name, age=18):
    print(f"helo {name}, you are {age} years old.")

greet("Jayasree")
greet("Jayasree","20")

helo Jayasree, you are 18 years old.
helo Jayasree, you are 20 years old.

In [27]:
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")
greet(age=20, name="Jayasree")

Hello Jayasree, you are 20 years old.

args we use for multiple variable number of arguments

In [28]:
def add(*numbers):
    total = 0
    for num in numbers:
        total += num
    print("Sum:", total)
add(1, 2, 3, 4)

Sum: 10

In [ ]:
def show_kwargs(**kwargs):
    print( kwargs)

show_kwargs(name="Jayasree", age=20)

a variable declared all functions at outside and access all the functions

In [31]:
x = 10
def show():
    print("Inside function:", x)
show()
print("Outside function:", x)

Inside function: 10
Outside function: 10

a varaiable declares inside the function

In [30]:
def show():
    y = 5
    print("Inside function:", y)
show()

Inside function: 5

if you want to modify variable in global function you must use global

In [32]:
z = 100
def change():
    global z
    z = z + 50
    print("Inside function:", z)
change()
print("Outside function:", z)

Inside function: 150
Outside function: 150

a lamba function can take any number of arguments

In [33]:
add = lambda x, y: x + y
print(add(5, 3))

8

applies a every function to the every item iterable

In [34]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16]

filter elements based on the function

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)